<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid19">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/application_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/application_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dos_Donts"></activity>
        <activity android:name=".Tips" />
        <activity android:name=".Difference" />
        <activity android:name=".Who_Infographics" />
        <activity android:name=".Video_Media" />
        <activity android:name=".Edit_profile" />
        <activity android:name=".User_profile" />
        <activity android:name=".forget_password" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".users_list" />
        <activity android:name=".Doctor" />
        <activity android:name=".DoctorMessage" />
        <activity android:name=".AddDoctor" />
        <activity android:name=".doctorlist" />
        <activity android:name=".Symptomchecker" />
        <activity android:name=".selfassess" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".Countries" />
        <activity android:name=".IndianStates" />
        <activity android:name=".loginaccount" />
        <activity android:name=".registeraccount" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>